{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h1 class="nhsuk-heading-l" id="completed">
              Your email address is already registered
            </h1>
          </div>
          

            <p>The email address <strong style="font-weight: bold;">annie.apple.midwife@nhs.net</strong> is already registered.</p>
            
            <p>Use your email and password to sign in.</p>
              
            <p>Once you have signed in, you'll be able to issue maternity exemption certificates on behalf of new or expectant mothers.</p>

          

          <a class="nhsuk-button" type="submit" href="/start-page-signed-out">
            Sign in
           </a>


        </div>
      </div>
    </div>  
  </div>
{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}
