<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <form action="/v5/check-answers-email" method="post">
        <h2>Re-enter the email address.</h2>
        
            <div class="nhsuk-inset-text">
              <p> We'll send the certificate to this email address.</p>
            </div>
          <input class="nhsuk-input nhsuk-input--width-20" id="contact-email" name="contact-email" autocomplete="off" maxlength="50" aria-required="true" type="text" />
      </form>
      <div class="nhsuk-u-padding-bottom-4"></div>
      <a href="/v5/check-answers-email" class="nhsuk-button">Continue</a>
    </div>  
  </div>
{% endblock %}