<!-- Extends the layout from /views/layout.html -->
{% extends 'custom-header-layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}




<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ statusBar() }}
  {{ phaseBanner() }}
{% endblock %}

{% block header %}
  {{ dashboardHeader() }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
<!-- main starts here -->
{% block content %}



  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-0" style="float:right">
    <a href="/v11/application-details"><button class="nhsuk-button" type="submit" style="float:right">
        Start a new application
      </button></a>
    <a href="/v11/search-for-application"><button class="nhsuk-button nhsuk-button--secondary" type="submit"
        style="float:right" class="nhsuk-u-margin-bottom-0">
        Search for an application
      </button></a>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-full">

    <div class=id-filter>
      <center>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Last name</option>
          <option value="2" selected> A-Z </option>
          <option value="3" selected> Z-A</option>
        </select>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1"> Date application made </option>
          <option value="2" selected> Newest first </option>
          <option value="3" selected> Oldest first</option>
        </select>

        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Certificate type </option>
          <option value="2" selected> Digital </option>
          <option value="3" selected> Postal </option>
        </select>

      </center>


            
      <div class="nhsuk-u-margin-top-4 nhsuk-u-padding-right-4 nhsuk-grid-column-one-third" style="float:right">
        <p class="nhsuk-u-margin-bottom-2"><a href="/v11/record-keeping-dashboard" to="" refresh="" the="" page]="" class="nhsuk-link nhsuk-link--no-visited-state ">
            Reset filter</a></p>

      </div> <br>

    </div>
  </div>
</div>
</div>

<hr class="solid nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">


<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-title">
                                Digital certificates
                            </h1>

                         
                           <!--  <h3>Sentence or two describing what is meant by digital certificates to be placed here.</h3> -->
                            <!-- <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-button" role="button">Start new application</a> -->
                        </div>
                    </div>

                    <div class="nhsuk-grid-row ">
                        <div class="nhsuk-grid-column-full">
                            <hr class=""style="border-color: #005eb8; border-width: 4px"> 
                             <!-- Table start -->
                            <center> 
                                <table role="table" class="nhsuk-table-responsive">
                   
                                    <thead role="rowgroup" class="nhsuk-table__head" style="border: none">
                                      <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                            Certificate number
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Name
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Certificate type
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Date application made
                                          </th>
                                        
                                        <th role="columnheader" class="" scope="col">
                                          Action
                                        </th>
                                      </tr>
                                    </thead>
                                    
                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 91569 028 333
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Amy McGregor
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                        </td>
                                       
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>71350 839 579
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Bailie Smith
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>9 October 2023
                                        </td>
                                        
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>84001 707 523
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Chloe Ortiz
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 12 May 2023
                                        </td>
                                        
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>
                                      

                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12311 161 101
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Jaspreet Kaur
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>3 March 2023
                                        </td>
                                       
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>10009 164 104
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Kiran Kaur
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>23 May 2023
                                        </td>
                                     
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>93582 731 766
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Leyla Reyes
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>19 June 2023
                                        </td>
                                        
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>66206 779 050
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Mahnoor Khan
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>27 September 2023
                                        </td>
                                        
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>16317 933 941
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Safa Ahmed
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 July 2023
                                        </td>
                                       
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>78540 509 565
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Sanna Jensen
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>14 October 2023
                                        </td>
                                      
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>88902 141 004
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Zahra Ali
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>21 August 2023
                                        </td>
                                        
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>

                                    </tbody>

                                  </table>

                                </center>


                                <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                                  <ul class="nhsuk-list nhsuk-pagination__list">
                          
                                    <li class="nhsuk-pagination-item--next">
                                      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                                        <span class="nhsuk-pagination__title">Next</span>
                                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                                        </svg>
                                      </a>
                                    </li>
                                  </ul>
                                </nav>
                                
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <ul>        
                    <li>
                        <a href="/v11/record-keeping-dashboard">All certificates</a>
                    </li>
                    <li>
                      <a href="/v11/digital-certificates" class="active">Digital certificates </a>
                  </li>
                    <li>
                        <a href="/v11/postal-certificates">Postal certificates </a>
                    </li>
                   
                   
                </ul>
            </div>
        </div>
        <!--end left navigation-->
    </div>
</div>

{% endblock %}
