{% macro dashboardHeader( serviceName ) %}

    {% from 'header/macro.njk' import header %}
    {% from 'macros/phase-banner.njk' import phaseBanner %}
    {% from 'macros/status-bar.njk' import statusBar %}

    {{ header({
      service: {
        text: serviceName,
        href: '/'
      },
      navigation: { 
        items: [
          {
            href: 'record-keeping-dashboard',
            text: 'All certificates '
          },
          {
            href: 'application-details',
            text: 'Start a new application'
          },
          {
            href: 'search-for-application',
            text: 'Search for application'
          }
      ]} 
    })
  }}

  {{ statusBar() }}
  {{ phaseBanner() }}

{% endmacro %}