{% macro dashboardHeader() %}

    {% from 'header/macro.njk' import header %}
    {% from 'macros/phase-banner.njk' import phaseBanner %}
    {% from 'macros/status-bar.njk' import statusBar %}

    {{ header({
      service: {
        name: serviceName,
        href: '/'
      },
      showNav: 'true',
      showSearch: 'false',
      primaryLinks: [
        {
          url  : 'record-keeping-dashboard',
          label : 'All certificates '
        },
        {
          url : 'application-details',
          label : 'Start a new application'
        },
        {
          url : 'search-for-application',
          label : 'Search for application'
        }
      ]
    })
  }}

  {{ statusBar( 'loggedIn' ) }}
  {{ phaseBanner() }}

{% endmacro %}