{% macro statusBar( status = 'loggedIn' ) %}

{% if status !== 'register' %}
    <div class="nhsuk-breadcrumb nhsuk-status-bar">
    <div class="nhsuk-width-container nhsuk-text-right">
        {% if status === 'loggedIn' %}
        <span class="nhsuk-u-margin-right-3">Matex Test</span> | <a class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3" id="signout__link" href="start-page-signed-out">Sign out</a> |
        {% endif %}
        <a class="nhsuk-u-margin-left-3" href="help-page">Help</a>
    </div>
    </div>
{% endif %}

{% endmacro %}