{% macro statusBarNunjucks( status = 'loggedIn' ) %}

{% if status !== 'register' %}
    <div class="nhsuk-breadcrumb nhsuk-status-bar">
        <div class="nhsuk-width-container nhsuk-text-right">
            {% if status === 'loggedIn' or status === 'true' %}
                <span class="nhsuk-u-margin-right-3">jane.smith@nhs.net</span> | <a class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3" id="signout__link" href="start?loggedIn=false">Sign out</a> |
            {% endif %}
            <a class="nhsuk-u-margin-left-3" href="help-page">Help</a>
        </div>
    </div>
{% endif %}

{% endmacro %}