<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search person page
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">Case Search</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent" style="min-width: 1200px; max-width: 70%;">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">
                Case Search
              </h1>
            </div>
          </div>

          <!--start secondary navigation-->

          <!-- <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="search">Person</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="search-treatment-id">Treatment ID</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="search-person-id">Person ID</a>
              </li>
            </ul>
          </nav> -->

          <!--end secondary navigation-->

          <!-- <hr style="border-bottom:1px solid #ccc; margin:0"> -->
          <!-- <br><br> -->


          <!-- SEARCH -->
          <div style="border: 1px solid rgb(190, 190, 190); border-radius: 20px; padding: 10px 20px 10px 20px;">
            <form action="#" method="get">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <br>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="searchfirstname"><strong class="bold"> Search</strong>
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-full" id="searchfirstname" name="searchfirstname"
                      type="text" value="">
                  </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                  <br>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="hospnumber"><strong class="bold"> Predefined Search List</strong>
                    </label>
                    <select class="nhsuk-select" id="select-1" name="select-1" style="width: 100%">
                      <option value="1">Predefined Search 1</option>
                      <option value="2" selected>Predefined Search 2</option>
                      <option value="3">Predefined Search 3</option>
                    </select>
                  </div>
                </div>

              </div>

              <!-- ADVANCED SEARCH START -->
              <div class="nhsuk-grid-row" style="padding: 16px 16px 0px 16px;">

                <details class="nhsuk-details nhsuk-expander"
                  style="background-color: inherit; border: 0; margin-bottom: 0;">

                  <summary class="nhsuk-details__summary" style="background-color: inherit; border: 0; padding: 0;">
                    <span class="nhsuk-details__summary-text">
                      Advanced Search options
                    </span>
                  </summary>

                  <!-- NEW ROW -->
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-third">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                        </legend>
                        <label class="nhsuk-label" for="nhsnumber"><strong class="bold">DBS Issue Start</strong>
                        </label>
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-date-input__input" type="date">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-third">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                        </legend>
                        <label class="nhsuk-label" for="nhsnumber"><strong class="bold">Approved Clinician
                            Start</strong>
                        </label>
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-date-input__input" type="date">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-4">
                      <label class="nhsuk-label" for="nhsnumber"><strong class="bold">Languages</strong>
                      </label>
                      <select class="nhsuk-select" id="select-1" name="select-1" multiple="" style="height: 100px;">
                        <option value="1">Afrikaans</option>
                        <option value="2">Albanian</option>
                        <option value="3">Arabic</option>
                        <option value="3">...</option>
                        <option value="3">(Cmd/Ctrl to pick multple)</option>
                      </select>
                    </div>
                  </div>

                  <!-- NEW ROW -->
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-third" style="top: -50px; position: relative;">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                        </legend>
                        <label class="nhsuk-label" for="nhsnumber"><strong class="bold">DBS Issue End</strong>
                        </label>
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-40" type="date">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-third" style="top: -50px; position: relative;">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                        </legend>
                        <label class="nhsuk-label" for="nhsnumber"><strong class="bold">Approved Clinician
                            End</strong>
                        </label>
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-date-input__input" type="date">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  <!-- NEW ROW -->
                  <div class="nhsuk-grid-row" style="top: -8px; position: relative;">
                    <div class="nhsuk-grid-column-one-quarter">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <div class="nhsuk-checkboxes">

                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-quarter">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <div class="nhsuk-checkboxes">
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                              value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              <strong class="bold">Show Expired</strong>
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-quarter">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <div class="nhsuk-checkboxes">
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                              value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              <strong class="bold">Regular Work
                                Hours</strong>
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-grid-column-one-quarter">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <div class="nhsuk-checkboxes">
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                              value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              <strong class="bold">Out of Work
                                Hours</strong>
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                </details>
              </div>
              <!-- ADVANCED SEARCH END -->
            </form>

            <br><br>

            <div class="action-buttons">
              <button class="nhsuk-button nhsuk-button" type="submit" style="margin-right: 20px;"
                onclick="document.location.href='#'">
                Search
              </button>
              <button class="nhsuk-button nhsuk-button--secondary" type="submit" onclick="document.location.href='#'">
                Predefined Search
              </button>
            </div>
          </div>

          <br><br><br>

          <div>
            <!-- <h2>
              Search Results
            </h2> -->

            <p style="text-align: center;"><strong>No results:</strong> Use the search fields above to search for cases.
            </p>
          </div>

          <br><br><br><br><br>

          <div>
            <h2>
              Create a Case
            </h2>

            <form action="#" method="get">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  
                  <div class="nhsuk-form-group">
                    <!-- <label class="nhsuk-label" for="searchfirstname"><strong class="bold"> Search</strong>
                    </label> -->
                    <select class="nhsuk-select" id="select-1" name="select-1" style="width: 100%">
                      <option value="1">Option 1</option>
                      <option value="2" selected>Sickness</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                  

                  <div class="nhsuk-form-group">
                    <!-- <label class="nhsuk-label" for="hospnumber"><strong class="bold"> Predefined Search List</strong>
                    </label> -->
                    <select class="nhsuk-select" id="select-1" name="select-1" style="width: 100%">
                      <option value="1">Option 1</option>
                      <option value="2" selected>S_BUC_19 - Actual Cost</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
                </div>

              </div>
              <br>

              <button class="nhsuk-button nhsuk-button--secondary" type="submit" onclick="document.location.href='#'">
                Create Case
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>

    <!--start left navigation-->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div id="options" class="options">
            <li>
              <a href="#" class="active">Case Search</a>
              <a href="#">Notifications<span class="notification-badge" style="background-color: #005eb8">4
                </span></a>
              <a href="#">Calendar</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <!--end left navigation-->
  </div>
  {% endblock %}







