<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



{% block header %}
  {{ dashboardHeader( serviceName ) }}
{% endblock %}

{% block content %}



<div class="nhsuk-width-container-fluid">

  <div class="nhsuk-main-wrapper" id="maincontent">

    <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
   

      <centre> <div class="content">
        <div class="indextext">
           <div class="done-panel">
           <h2 class="nhsuk-heading-l" id="completed">
             <center> <span class="done-tick" id="done-tick"> Details change successful </span> </center>
            </h2> 
            
          </div> 
          

              
          



            <h3 class="nhsuk-heading-m">
              What happens next?
            </h3>
            <p class="nhsuk-body">Information about that specific change.</p>
            <p class="nhsuk-body"> What happens next if they changed name details or certificate type details.  </p>
            <p class="nhsuk-body">Will update tomorrow (10/10) when @Tanika confirms whether it's a postal to email or email to postal certificate change.</p>
         

          <div class="nhsuk-u-padding-bottom-3"></div>
            
          <form action="/v8/mother-present" method="POST" class="form">
            <div class="nhsuk-form-group">
              <input class="nhsuk-button" id="next-button" type="submit" value="Start a new application" />
            </div>
          </form>
        </div>
      </div>

      
      <div class="nhsuk-u-padding-bottom-6"></div>
    </div>  
  </div>
{% endblock %}
