<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

  {{ statusBar() }}
  {{ phaseBanner() }}

   <div class="nhsuk-width-container">
    {{ breadcrumb({
      classes: 'nhsuk-u-padding-left-0',
      items: [
        {
          href: 'search-for-application',
          text: 'Search for application'
        },
        { 
          href: 'search-results',
          text: 'Search results'
        }
      ],
      href: 'view-application',
      text: 'View application'
    }) }}
  </div>

{% endblock %}


{% block header %}
  {{ dashboardHeader() }}
{% endblock %}


{% block content %}
    

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            Change details
        </h1>
      </div>
      <div class="nhsuk-grid-column-one-third">


</div>
    </div>

   
    <hr style="border-bottom:4px solid #005EB8; margin:0">
    <div class="nhsuk-scrollable-pane">
        <br>
        <p class="nhsuk-body"> You can change or update any incorrect information </p>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="firstName">
               
              First names (Given names/forenames)          
              <div class="nhsuk-hint" id="hint">
                For example Jane Jennifer
               </div>
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="firstName" name="firstname" type="text">
          </div>
    
         
    
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="lastName">
              Last name (Family name/surname)
    
              <div class="nhsuk-hint" id="hint">
                For example Smith
               </div>
              
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="lastName" name="lastname" type="text">
          </div>


        

                        <a href="/v8/reasons-for-editing">
                        <button class="nhsuk-button" type="submit">
                            Save
                        </button>
                        </a>
                        <br>
                        <p><a href="">Cancel</a></p>





                </div>

              </div>

</div> 
{% endblock %}