<!-- Extends the layout from /views/layout.html -->
{% extends 'custom-header-layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
    MATEX Record Keeping
{% endblock %}

<!-- Set the service name in header -->
{% block serviceName %}
Maternity Exemption protoype NHS toolkit

{% endblock %}

{% block content %}

<div class="nhsuk-width-container-fluid">

  <div class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
         Reason for editing
        </h1>
      </div>
      <div class="nhsuk-grid-column-one-third">


</div>
    </div>

   
    <hr style="border-bottom:4px solid #005EB8; margin:0">
    <div class="nhsuk-scrollable-pane">
        <br>
        <p class="nhsuk-body"> Select all applicable options </p>
        

        <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                  <div class="nhsuk-radios">

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                        Data input error (name, date of birth, postal and email addresses)
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Legal name change
                      </label> </div>

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Change of postal and or email address
                        </label>
                    </div>

                    <br>
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="example">
                        Additional notes (Optional)
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        You can add any additional information here, such as where the change request came from.                      </div>
                      <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                    </div>

                    <a href="/v8/record-keeping-dashboard">
                        <button class="nhsuk-button" type="submit">
                            Save
                        </button>
                        </a>
                        <br>
                        <p><a href="">Cancel</a></p>





                </div>

              </div>

</div> 
{% endblock %}