<!-- Extends the layout from /views/layout.html -->
{% extends 'custom-header-layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
    {{ serviceName }}
{% endblock %}


<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ statusBar() }}
  {{ phaseBanner() }}
{% endblock %}



{% block header %}
  {{ dashboardHeader() }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
<!-- main starts here -->
{% block content %}
<div class="preheader nhsuk-u-margin-bottom-0">
  <div class="nhsuk-form-group">
  </div>


  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-0">
    <a href="mother-present"><button class="nhsuk-button" type="submit" style="float:left">
        Start a new application
      </button></a>
    <a href="search-for-application"><button class="nhsuk-button nhsuk-button--secondary" type="submit"
        style="float:left" class="nhsuk-u-margin-bottom-0">
        Search for an application
      </button></a>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-full">

    <div class=id-filter>
      <center>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Last name</option>
          <option value="2" selected> A-Z </option>
          <option value="3" selected> Z-A</option>
        </select>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1"> Date application made </option>
          <option value="2" selected> Newest first </option>
          <option value="3" selected> Oldest first</option>
        </select>

        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Certificate type </option>
          <option value="2" selected> Digital </option>
          <option value="3" selected> Postal </option>
        </select>

        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Status </option>
          <option value="2" selected> In progress </option>
          <option value="3" selected> Sent </option>
          <option value="3" selected> Received </option>
        </select>
      </center>

      
      <div class="nhsuk-u-margin-top-4" style="float:right">
        <p><a href="/v8/record-keeping-dashboard" to refresh the page] class="nhsuk-link nhsuk-link--no-visited-state ">
            Reset Filter</a></p>

      </div> <br>

      <center>
        <div class="nhsuk-grid-row">
      </center>

    </div>
  </div>
</div>
</div>
<table class="nhsuk-table">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">

      </th>
    </tr>
  </thead>
</table>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-title">
                All applications
              </h1>

              <!-- <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-button" role="button">Start new application</a> -->
            </div>
          </div>
          <div class="nhsuk-grid-row ">
            <div class="nhsuk-grid-column-full">
              <hr class="" style="border-color: #005eb8; border-width: 4px">
              <!-- Table start -->
              <center>
                <table role="table" class="nhsuk-table-responsive">
                  <caption class="nhsuk-table__caption"> <!-- revisit this--> </caption>
                  <thead role="rowgroup" class="nhsuk-table__head" style="border: none">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Certificate no
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Certificate Type
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date Application Made
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Status </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>

                  </thead>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 65932 875 830
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>Jane Doe
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Postal
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 12 October 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <strong class="nhsuk-tag nhsuk-tag--yellow">Submitted </strong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>

                        <p><a href="/v8/view-application" title="External website"> View Application </a></p>

                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 20713 964 939
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Ayanda Dube
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Postal
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 27 September 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>

                        <p><a href="/v8/view-application" title="External website"> View Application </a></p>

                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 23098 529 739
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>Lizzie Francis
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Postal
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 19 September 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <strong class="nhsuk-tag nhsuk-tag--yellow">Submitted</strong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>

                        <p><a href="/v8/view-application" title="External website"> View Application </a></p>

                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 13740 751 153
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Akmal Tiia
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Digital
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 17 August 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>

                        <p><a href="/v8/view-application" title="External website"> View Application </a></p>

                      </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 12641 673 010
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Esta Shukri
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> Digital
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span> 31 July 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <strong class="nhsuk-tag nhsuk-tag--green">Issued</stong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading"> </span>

                        <p><a href="/v8/view-application" title="External website"> View Application </a></p>

                      </td>
                    </tr>

                  </tbody>

                </table>

              </center>




            </div>
          </div>
        </div>
      </div>
    </div>

    <!--start left navigation-->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <li>
            <a href="#" class="active">All applications</a>
          </li>
          <li>
            <a href="#">In progress</a>
          </li>
          <li>
            <a href="#">Submitted</a>
          </li>
          <li>
            <a href="#">Issued</a>
          </li>
        </ul>
      </div>
    </div>
    <!--end left navigation-->
  </div>




  {% endblock %}