<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Maternity Exemption protoype NHS toolkit
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container app-width-container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS digital service manual homepage">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
        <span class="nhsuk-header__service-name">
          Maternity Exemption Certificate
        </span>
      </a>
      
    </div>


   
      <div class="nhsuk-header__content" id="content-header" style="margin-top: 5px;">

      
        <p class="nhsuk-b ody-s" style="color: white; float: left; padding-right: 100px;">Jane.doe@nhs.net</p>
       <a href=""><p class="nhsuk-body-s" style="color: white; float: right;">Sign out</p></a>

      </div>

    </div>

    <nav class="nhsuk-header__navigation app-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
      <div class="nhsuk-width-container app-width-container">
        <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
          <button class="nhsuk-header__navigation-close" id="close-menu">
            <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Close menu</span>
          </button>
        </p>
        <ul class="nhsuk-header__navigation-list" style="justify-content:left; margin-bottom: -5px;">
          
          
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link" href="/v8/record-keeping-dashboard" >
              All applications
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-header__navigation-item " style="float: left;">
            <a class="nhsuk-header__navigation-link" href="/v8/mother-present" >
            Start a new application
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>

          
          <li class="nhsuk-header__navigation-item " style="float: left;">
            <a class="nhsuk-header__navigation-link" href="/v8/search-for-application" style="box-shadow: inset 0 -4px 0 #d8dde0;" >
             Search for application
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
         
        </ul>
      </div>
    </nav>

    </header>
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Search for an application
        </h1>
        <span class="nhsuk-hint" >
          Enter a minimum of two fields to search
        </span>
      </legend>

   

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="NHSnumber">
          NHS number
        </label> 
        <span class="nhsuk-hint" >
          Enter the NHS number if you have it:
        </span>
        <input class="nhsuk-input nhsuk-input--width-20" id="NHSnumber" name="treatmentID" type="text"> <br>
        
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
         Date last met mother
        </label>

    
        <div class="nhsuk-hint" id="hint">
          For example, 18 09 2023
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <br>

      <span class="nhsuk-hint" >
        You can also search by completing the following fields:
      </span>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="firstName">
           
          First names (Given names/forenames)          
          <div class="nhsuk-hint" id="hint">
            For example Jane Jennifer
           </div>
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="firstName" name="firstname" type="text">
      </div>

     

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="lastName">
          Last name (Family name/surname)

          <div class="nhsuk-hint" id="hint">
            For example Smith
           </div>
          
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="lastName" name="lastname" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Mother's date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 18 09 1993
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Baby's due or date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 21 03 2024
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="certificate number">
          Certificate number
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="certificateNumber" name="certificateNumber" type="text"> <br>
      </div>


      <!-- select option <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Certificate type
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1"> Digital </option>
          <option value="2" selected>Postal</option>
        </select>
      </div>

      div class="nhsuk-form-group">
      <label class="nhsuk-label" for="select-1">
        Status
      </label>
      <select class="nhsuk-select" id="select-1" name="select-1">
        <option value="1"> In progress </option>
        <option value="2" selected>Sent</option>
        <option value="3" selected>Received </option>
      </select>
    </div> -->

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="certificate number">
          Certificate type
        </label>
        <div class="nhsuk-radios">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
              Digital
            </label>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
              Postal
            </label>
          </div>
       <br>
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="certificate number">
          Status
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                In progress
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                Sent 
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                Received 
              </label>
            </div>

      </div>
      <br>



      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Expiry date
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 22 03 2025
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="emailAddress">
          Email address 
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress" type="text"> <br>
      </div>

      <h4 class="nhsuk-heading-s"> Current address </h4>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="addressLine1">
        
          Address line 1 
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine1" name="addressLine1" type="text"> <br>
      </div>
       
      <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Address line 2 (Optional)
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="addressLine2" name="addressLine2" type="text"> <br>
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Address line 3 (Optional)
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="addressLine3" name="addressLine3" type="text"> <br>
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Postcode
      </label>
      <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text"> <br>
    </div>


    </fieldset>

    <a class="nhsuk-button" href="/v8/search-results" title="application search" class="nhsuk-u-margin-left-3">Search</a>

   
    
    
 
  </div>
  
</div>


{% endblock %}
