<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Maternity Exemption protoype NHS toolkit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
 <!-- <div class="nhsuk-breadcrumb">
    <div class="nhsuk-width-container nhsuk-text-right">
      <span class="nhsuk-u-margin-right-3">Matex Test</span>
      |
      <a class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3" id="signout__link" href="/start-page-signed-out">Sign out</a>
      |
      <a class="nhsuk-u-margin-left-3" href="/help-page">Help</a>
    </div>
  </div>-->
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-padding-top-3"></div>
      <h1>Apply for maternity exemption certficates</h1>
    </div>
   

  




<div class="nhsuk-width-container">
<main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-grid-row nhsuk-u-margin-right-6">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-top-0 nhsuk-u-margin-right-6">

    <!-- Change the page title here 
    <h1>
      Register to issue maternity exemption certificates 
    </h1>-->

   
      <p>If you are a midwife, GP or healthcare professional registered to use this online service, you can apply for maternity exemption certificates on behalf of expectant or new mothers.</p>
      <p>A maternity exemption certificate entitles the mother to free prescriptions: 
        <ul>
         <li>while pregnant</li>
         <li>for 12 months after the birth of the child</li>
        </ul>
       </p>


       <h2 class="nhsuk-heading-l">Before you apply</h2>


       <p>You'll need the mother's:
        <ul><li>date of birth</li>
         <li>NHS number</li>
         <li>due or birth date of their child</li>
         <li>email or postal address </li>
        </ul>
       </p>

       

       <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
          <p><a href="/v8/register/start" title="External website">You'll need to register to use this service
             </a>
          </p>
     </div>
     <a class="nhsuk-button" type="submit" href="/v8/microsoft-login">Sign In</a>
     
     
</div>


  <h2 class="col-heading heading-medium">Related links</h2>
  <p><a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption" target="_blank">Check if the mother already has a valid exemption certificate</a></p>
  <p><a href="https://faq.nhsbsa.nhs.uk/knowledgebase/category/?articlecategory=Maternity%20Exemption%20certificate&id=CAT-01281&parentid=" target="_blank"> More information about the maternity exemption service</a></p>
  </div>


</main>


  







      <!--  
      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/placeholder-image-16-9.jpg" alt="A 16:9 image placeholder">
        <figcaption class="nhsuk-image__caption">
          Image example
        </figcaption>
      </figure>
      -->
​
<!--  
<h2>Level heading two</h2>
-->
​
{# COMMENTED OUT
  {{ list({
    "title": "Do",
    "type": "tick",
    "items": [
      {
        "item": "cover blisters that are likely to burst with a soft plaster or dressing"
      },
      {
        "item": "wash your hands before touching a burst blister"
      },
      {
        "item": "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
      }
    ]
  }) }}
​
  {{ list({
    "title": "Don't",
    "type": "cross",
    "items": [
      {
        "item": "burst a blister yourself"
      },
      {
        "item": "peel the skin off a burst blister"
      },
      {
        "item": "pick at the edges of the remaining skin"
      },
      {
        "item": "wear the shoes or use the equipment that caused your blister until it heals"
      }
    ]
  }) }}
  END OF  COMMENT
#}
​
<!--
<h3>
  Level heading three
</h3>
​
<p>
  Body text:
</p>
​
<ul>
  <li>
    The quick brown
  </li>
  <li>
    fox jumps over
  </li>
  <li>
    the lazy dog
  </li>
</ul>
-->
​
{# COMMENTED OUT
{{ warningCallout({
  "heading": "School, nursery or work",
  "HTML": "<p>Stay away from school, nursery or work until all the spots have crusted over. This is usually 5 days after the spots first appeared.</p>"
}) }}
​
{{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}
END OF COMMENT
#}
​
<!-- End of content -->
​
​
{% endblock %}