<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}


{% block beforeContent %}

   <div class="nhsuk-width-container">
    {{ breadcrumb({
      classes: 'nhsuk-u-padding-left-0',
      items: [
        {
          href: 'search-for-application',
          text: 'Search for application'
        }
      ],
      href: 'search-results',
        text: 'Search results'
    }) }}
  </div>

{% endblock %}


{% block header %}
  {{ dashboardHeader( serviceName ) }}
{% endblock %}








{% block content %}


  
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
     <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>




  
      <form action="/v8/view-application" class="form" >
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">Application details</h1>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt id="mother-int-date" class="nhsuk-summary-list__key">Mother's name</dt>
              <dd class="nhsuk-summary-list__value" id="int-date"> Priya Kaur </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="intdate-change"
                  aria-label="mothersName">Change</a>
              </dd>
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt id="mother-DOB" class="nhsuk-summary-list__key">Mother's date of birth</dt>
              <dd class="nhsuk-summary-list__value" id="name"> 15 March 1993 </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="DOB-change" aria-label="Change mother's DOB">Change</a>
              </dd>
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt id="mother-NHSno" class="nhsuk-summary-list__key">Mother's NHS number </dt>
              <dd class="nhsuk-summary-list__value" id="mother-NHSno">1234567890</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="NHS-no-change" aria-label="Change mother's NHS number">Change</a>
              </dd>
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt id="mother-nhs" class="nhsuk-summary-list__key">Mother's postcode </dt>
              <dd class="nhsuk-summary-list__value" id="nhs-no"> NE1 7PT </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="mother-postcode" aria-label="Change mother's Postcode">Change</a>
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt id="baby DOB" class="nhsuk-summary-list__key"> Baby's due or birth date </dt>
              <dd class="nhsuk-summary-list__value" id="baby-dob"> 15 March 2024 </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="duedate-change" aria-label="Change baby's due or DOB">Change</a>
              </dd>
            </div>
            
         
  
            <div class="nhsuk-summary-list__row">
              <dt id="details-by-email" class="nhsuk-summary-list__key">Certificate to be sent by</dt>
              <dd class="nhsuk-summary-list__value" id="details-email"> Email </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-certificate-format-email" id="details-change" aria-label="Change get details by email">Change</a>
              </dd>
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt id="mother-email-address" class="nhsuk-summary-list__key">Mother's email address</dt>
              <dd class="nhsuk-summary-list__value" id="email-add"> priyakaur@mail.com </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v8/change-details" id="email-change" aria-label="Change mother's email address">Change</a>
              </dd>
            </div>
          </dl>
        </div>
      
  </div>
  

{% endblock %}
