// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/sidebar';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

/* sign in bar */
.nhsuk-text-right {
  text-align: right;
}

.done-panel {
	background-color: #005EB8;
	text-align: center; 
	color: white;
	padding: 30px;
	margin: 0px 0px 30px 0px;
}




.done-tick {
  background-image: url(../images/done-tick.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0 px;
  padding-left: 50px;
 }

 span.line-break{
	display:block;
}

.nhsbsa-search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border-bottom: #ccc 1px solid; */ 
  padding: 24px 0px;
}

.nhsbsa-job-select {
  background-color:#005eb8; 
  border: none; 
  color: white; 
  box-shadow: none;
}

.nhsbsa-job-search-button {
  float: none;
  background-color: #005eb8;
  &:hover {
    border-color: #003d78;
  }
  .nhsuk-icon__search {
    position: relative;
    top: 2px;
    fill: #fff;
  }
}
.nhsuk-body p{ 
  padding-left: 24px ;

}

.preheader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px;

}