<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <form action="/confirmation" class="form" >
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">Registering if you're not on ESR</h1>
          
          <p>If you're a midwife, practice nurse or health visitor, you can still use this service if you have an email address with an organisation that:</p>
          
          <ul>
            <li>meets the <a  href="https://digital.nhs.uk/services/nhsmail/the-secure-email-standard">secure email standard</a></li>
            <li>uses Office 365 or a Hybrid Exchange email service</li>
           </ul>

           <p>Ask your IT department if your organisation's email meets these requirements. We'll also check this for you.</p>

           <p>To register, email at <a href="mailto:healthcosts@nhsbsa.nhs.uk" title="New window">healthcosts@nhsbsa.nhs.uk</a> and include your:</p>
           <ul>
            <li>Full name</li>
            <li>NMC PIN</li>
            <li>organisational email address, such as NHSmail</li>
           </ul>

           <p>We'll use these details to verify your professional identity.</p>

           <p>We'll email you to confirm when you are registered. You'll then be able to use the online service.</p>
            

      </form>
    </div>  
    
  </div>
{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}

