<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- PAGE TITLE -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- BEFORE CONTENT -->
{% block beforeContent %}
  {{ statusBar( 'register' ) }}
  {{ phaseBanner() }}
{% endblock %}

<!-- OUTER CONTENT -->
{% block outerContent %}{% endblock %}

<!-- CONTENT -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {% set panelHTML %}
            <p class="nhsuk-body">We've sent an email to <strong>{{ data.registerEmail or 'jane.smith@nhs.net' }}</strong>.</p>
        {% endset %}
        
        {{ panel({
            titleText: 'You have completed your registration',
            html: panelHTML
        }) }}

        <p class="nhsuk-body">You should receive the email within 24 hours. Check your spam or junk email folder if you have not received the email.</p>
        <p class="nhsuk-body">If you have not received confirmation of your registration, email <a class="nhsuk-link" href="mailto:healthcosts@nhsbsa.nhs.uk ">healthcosts@nhsbsa.nhs.uk </a> for further help.</p>
        <p class="nhsuk-body">To begin issuing maternity exemption certificates, click Sign in.</p>
     
        {{ button({
          href: '../start',
          text: 'Sign in'
        }) }}

    <div>
  </div>

{% endblock %}