<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- PAGE TITLE -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- BEFORE CONTENT -->
{% block beforeContent %}
  {{ statusBarNunjucks( 'register' ) }}
  {{ phaseBanner() }}
{% endblock %}

<!-- OUTER CONTENT -->
{% block outerContent %}{% endblock %}

<!-- CONTENT -->
{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set panelHTML %}
            <p class="nhsuk-body">Based on the details you've given us, we have not been able to verify your professional identity in ESR.</p>
        {% endset %}
        
        {{ panel({
            titleText: 'You have not been verified',
            html: panelHTML
        }) }}

        

         <!-- EMAIL ADDRESS -->
        {% set rows = [{
            key: { text: 'Email address' },
            value: { text: data.registerEmail or 'jane.smith@nhs.net' },
            actions: { items: [ { href: 'email', text: 'Change', visuallyHiddenText: 'email address' } ]}
        }] %}

        <!-- LAST NAME -->
        {% set rows = ( rows.push({
            key: { text: 'Last name' },
            value: { text: data.registerLastName or 'Smith' },
            actions: { items: [ { href: 'your-details#registerLastName', text: 'Change', visuallyHiddenText: 'last name' } ]}
        }), rows ) %}

        <!-- NMC PIN -->
        {% set rows = ( rows.push({
            key: { text: 'NMC PIN' },
            value: { text: data.registerPIN or '99A9999A' },
            actions: { items: [ { href: 'your-details#registerPIN', text: 'Change', visuallyHiddenText: 'NMC PIN' } ]}
        }), rows ) %}

        <!-- DATE OF BIRTH -->
        {% set rows = ( rows.push({
            key: { text: 'Date of birth' },
            value: { text: data.registerDateOfBirth | convertDate },
            actions: { items: [ { href: 'your-details#registerDateOfBirth', text: 'Change', visuallyHiddenText: 'date of birth' } ]}
        }), rows ) %}

       

        <!-- SUMMARY LIST -->
        {{ summaryList({
            rows: rows
        }) }}

        <!-- INSET TEXT -->
        {{ insetText({
          html: '<p class="nhsuk-body">If your information is correct but we have been unable to confirm your details email us at  
            <a class="nhsuk-link" href="mailto:healthcosts@nhsbsa.nhs.uk" title="New window">healthcosts@nhsbsa.nhs.uk</a>.</p>'
        }) }}

    </div>

      <!-- RELATED LINKS -->
    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Related links</h2>
        <p class="nhsuk-body"><a class="nhsuk-link" href="register-not-on-esr">Registering if you're not on ESR</a></p>
    </div>


  </div>

{% endblock %}