<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- PAGE TITLE -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- BEFORE CONTENT -->
{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

<!-- CONTENT -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">I am a GP</h1>

      <p class="nhsuk-body">If you're a GP, you can still use this service if you have an email address with an organisation that:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>meets the <a class="nhsuk-link" href="https://digital.nhs.uk/services/nhsmail/the-secure-email-standard">secure email standard</a>.</li>
        <li>uses Office 365 or a Hybrid Exchange email service</li>
      </ul>

      <p class="nhsuk-body">Ask your IT department if your organisation's email meets these requirements. We'll also check this for you.</p>

      <p class="nhsuk-body">To register, email <a class="nhsuk-link" href="mailto:healthcosts@nhsbsa.nhs.uk" title="New window">healthcosts@nhsbsa.nhs.uk</a> and include your:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>name</li>
        <li>GMC reference number</li>
        <li>organisational email address, such as NHSmail</li>
      </ul>

      <p class="nhsuk-body">We'll use these details to verify your professional identity.</p>
      <p class="nhsuk-body">We'll email you to confirm when you are registered. You'll then be able to use the online service.</p>



    <div>
  </div>

{% endblock %}