<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <form action="/confirmation" class="form" >
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">You cannot register for this service</h1>
          <p>The email address you have entered was: <strong style="font-weight: bold;">jane.doe@gmail.com</strong></p>

          <p>You cannot register for this service because the email address is with an organisation that does not:</p>
          <ul>
            <li>meet the <a  href="https://digital.nhs.uk/services/nhsmail/the-secure-email-standard"> secure email standard</a></li>
            <li>use Office 365 or a Hybrid Exchange email service</li>
          </ul>
          <p>If you are a midwife, doctor or health visitor, you can issue maternity exemption certificates by completing the paper FW8 form. </p>
          <p><a href="/v10/register/email-address">Try another email address</a></p>


      </form>
    </div>  

  </div>
{% endblock %}
