<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <form action="certificate-email-or-post" method="post">
        <fieldset class="nhsuk-fieldset" id="email-post">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" id="title">
              Would the mother like their exemption details sent by email or post?
            </h1>
          </legend>
          <p>Mothers will get their exemption certificate straight away if sent by email.</p>
          <div class="nhsuk-form-group">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-contact-by-email" name="contact-group" type="radio" value="email" aria-required="true" />
              <label class="nhsuk-label nhsuk-radios__label" id="email-yes" for="example-contact-by-email">Email</label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-contact-by-post" name="contact-group" type="radio" value="post" />
              <label class="nhsuk-label nhsuk-radios__label" id="email-no" for="example-contact-by-post">Post</label>
            </div>
          </div>
        </fieldset>
      
        <button class="nhsuk-button" type="submit">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}