<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h1 class="nhsuk-heading-l" id="completed">
              <span class="done-tick" id="done-tick">Done</span>
            </h1>
            <h2 class="nhsuk-heading-m" id="submitted">
              <span id="submitted-hcp">You have completed the application</span>
            </h2>
          </div>
          <div>
            <div class="nhsuk-inset-text">
              <p id="submitted-hcp-certNumber">Mother's certificate number: 
                <span class="nhsuk-u-font-weight-bold">12345678</span>
              </p>

              <p class="nhsuk-body" id="submitted-hcp-certificateExpiryDate">
                Exemption ends: <span class="nhsuk-u-font-weight-bold">20/05/2023</span></p>
            </div>

            <h3 class="nhsuk-heading-m">
              What happens next?
            </h3>
            <p class="nhsuk-body">The mother should receive their certificate within 10 working days. They can start using their exemption straight away.</p>
            <p class="nhsuk-body">Check to make sure they have received the certificate at their next appointment.</p>

            <div>
              <h4 class="nhsuk-heading-s">
                Ongoing feedback from mothers
              </h4>
              <p class="nhsuk-body">If the mother is happy to take part in further research, <a
                  href="#">send us a contact number (link opens in a new window)</a>.</p>
            </div>
          </div>
          <form action="/old-version/start-page-signed-in" method="POST" class="form">
            <div class="nhsuk-form-group">
              <input class="nhsuk-button" id="next-button" type="submit" value="Start a new application" />
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}