<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <form action="/confirmation" class="form" >
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">You have not been verified</h1>
          <p>Based on the details you've given us, we have not been able to verify your professional identity in ESR.</p>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt id="mother-int-date" class="nhsuk-summary-list__key">Email address</dt>
              <dd class="nhsuk-summary-list__value" id="int-date">annie.apple.midwife@nhs.net</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/mother-present#contact-2" id="intdate-change"
                  aria-label="Change date you met the mother">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-name" class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value" id="name">Apple</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/application-details#first-name" id="name-change" aria-label="Change mother's name">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-email-address" class="nhsuk-summary-list__key">NMC PIN</dt>
              <dd class="nhsuk-summary-list__value" id="email-add">12A3456B</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/email" id="email-change" aria-label="Change mother's email address">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-dob" class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value" id="moth-dob">10 January 1989</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/application-details#dob" id="dob-change" aria-label="Change mother's date of birth">Change</a>
              </dd>
            </div>
          </dl>
        </div>


        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>If your information is correct but we have been unable to confirm your details email us at  
            <a href="mailto:nhsbsa.healthcosts@nhs.net" title="New window">nhsbsa.healthcosts@nhs.net</a>.</p>
        </div>


      </form>
    </div>  
  </div>
{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}