<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Apply for a maternity exemption</h1>
      </div>



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here 
      <h1>
        Register to issue maternity exemption certificates 
      </h1>-->

     
        <p>Use this service to apply for maternity exemption certificates on behalf of new or expectant mothers.</p>
        <p>A maternity exemption certificate entitles the mother to free prescriptions: 
          <ul>
           <li>while pregnant</li>
           <li>for 12 months after the birth of the child</li>
          </ul>
         </p>

         <p>You'll need the mother's:
          <ul>
           <li>date of birth</li>
           <li>NHS number</li>
           <li>due or birth date of their child</li>
           <li>email or postal address </li>
          </ul>
         </p>
         <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="register" title="External website">You'll need to register to use this service
               </a>
            </p>
       </div>
       <a class="nhsuk-button" type="submit" href="microsoft-login">Sign in</a>



      </div>


      <div class="nhsuk-grid-column-one-third">
        <h2 class="col-heading heading-medium">Related links</h2>
          <ul class="list list-bullet">
            <li><a href="i-am-pregnant">I'm pregnant or have a had a baby in the last 12 months</a></li>
         </ul>
      </div>
    </div>
  </main>
</div>


    </div>  

  </div>









      <!-- Deleted dummy data -->


{% endblock %}