<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h2 class="nhsuk-heading-l" id="completed">
              <span class="done-tick" id="done-tick">Application completed</span>
            </h2>
            <body class="nhsuk-heading-m" id="submitted">
              <span id="submitted-hcp">Mother's certificate number:</span>
            </body>
            <h2 class="nhsuk-heading-l">12345678</h2>
            <span class="nhsuk-body" id="submitted-hcp-certificateExpiryDate">
              Exemption ends: </span>
              <h2 class="nhsuk-heading-l">20 May 2023</h2>
          </div>

            <h3 class="nhsuk-heading-m">
              What happens next?
            </h3>
            <p class="nhsuk-body">We'll email the certificate to the mother. They can start using their exemption straight away.</p>
            <p class="nhsuk-body">Check to make sure they have received the certificate at their next appointment.</p>
            <div>
              <h4 class="nhsuk-heading-s">
                Ongoing feedback from mothers
              </h4>
              <p class="nhsuk-body">If the mother is happy to take part in further research, <a
                  href="#">send us a contact number (link opens in a new window)</a>.</p>
            </div>
          </div>
          <form action="/v2/start-page-signed-in" method="POST" class="form">
            <div class="nhsuk-form-group">
              <input class="nhsuk-button" id="next-button" type="submit" value="Start a new application" />
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}