<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <form action="/v2/check-answers-email" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading" id="title">
              Mother's email address
            </h1>
          </legend>
 
          
          <div id="contact-by-email">
            <div class="nhsuk-form-group">
              
              <div class="nhsuk-hint" id="contact-hint">
                We’ll send the certificate to this email address.
              </div>
              
              <input class="nhsuk-input nhsuk-input--width-20" id="contact-email" name="contact-email" autocomplete="off" maxlength="50" aria-required="true" type="text" />
            </div>
          </div>
          
        </fieldset>
        <button class="nhsuk-button" type="submit">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}