{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>


  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2>Register to issue maternity exemption certificates</h2>
      </div>



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here 
      <h1>
        Register to issue maternity exemption certificates 
      </h1>-->

      <p>
        Use this service to register to issue digital maternity exemption certificates. 
      </p>


      <p>You must be a midwife, practice nurse or health visitor registered with the Nursing and Midwifery Council (NMC) to create an account.</p>

      <h2>What you'll need</h2>

      <p>
        To help us verify your professional identity you’ll need: 
        <ul>
          <li>your NMC PIN</li>
          <li>an email address with a secure service - such as NHSmail</li>
        </ul>
      </p>
     <p>Ask your IT department if your organisation’s email meets the <a  href="https://digital.nhs.uk/services/nhsmail/the-secure-email-standard">secure email standard</a></p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p><a href="/v2/start-page-signed-out" title="New window">Sign in if you already have an account</a></p>
      </div>

      <a class="nhsuk-button" type="submit" href="/v2/register-email-address">
        Start now
       </a>


      </div>


      
    </div>

    <h2>More information</h2>

    <div class="nhsuk-u-padding-bottom-2"></div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I'm a GP and would like to register
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I do not have an email address with a secure service
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
           Backdated FW8 forms and penalty charges
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I'm a newly registered midwife
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>   
      
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is an NMC PIN?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>    

   

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Having other issues?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>
  </main>
</div>


    </div>  

  </div>









      <!-- Deleted dummy data -->


{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}
