<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% set loggedOut = true %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Apply for the Digital Maternity Exemption Service</h1>
      </div>



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here 
      <h1>
        Register to issue maternity exemption certificates 
      </h1>-->

     
        <p>If you are a midwife, GP or a health professional, use this service to apply for maternity exemption certificates on behalf of new or expectant mothers.</p>
        <p>A maternity exemption certificate entitles the mother to free prescriptions: 
          <ul>
           <li>while pregnant</li>
           <li>for 12 months after the birth of the child</li>
          </ul>
         </p>

         <p>You'll need the mother's:
          <ul>
           <li>date of birth</li>
           <li>NHS number</li>
           <li>due or birth date of their child</li>
           <li>email or postal address </li>
          </ul>
         </p>
         <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="/v2-version/register" title="External website">You'll need to register to use this service
               </a>
            </p>
       </div>
       <a class="nhsuk-button" type="submit" href="/v2/microsoft-login">Sign in</a>



      </div>

      
    </div>
    <div class="nhsuk-u-padding-bottom-4"></div>

    <h2>More about MATEX</h2>

    <div class="nhsuk-u-padding-bottom-2"></div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is a MATEX certificate? What are the costs covered with it?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Who is entitled for a MATEX certificate?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Are you a newly registered midwife?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What are the ways to get a MATEX certificate?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to report a change in details?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Lost or damaged certificates?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Having issues locating the MATEX certificate?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
           Backdated FW8 forms and penalty charges
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Having other issues?
          </span>
        </summary>
        <div class="nhsuk-details__text">
        </div>
      </details>

  </main>
</div>


    </div>  

  </div>









      <!-- Deleted dummy data -->


{% endblock %}