<!-- Extends the layout from /views/layout.html -->
{% extends 'custom-header-layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ statusBar() }}
  {{ phaseBanner() }}
{% endblock %}


{% block header %}
  {{ dashboardHeader() }}
{% endblock %}


{% block content %}

</div>

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-title">
                                Issued applications
                            </h1>

                            <br><br><br><br>
                            <h3>Sentence or two describing what is meant by 'issued' applications to be placed here.</h3>
                            <!-- <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-button" role="button">Start new application</a> -->
                        </div>
                    </div>

                    <div class="nhsuk-grid-row ">
                        <div class="nhsuk-grid-column-full">
                            <hr class=""style="border-color: #005eb8; border-width: 4px"> 
                             <!-- Table start -->
                            <center> 
                                <table role="table" class="nhsuk-table-responsive">
                   
                                    <thead role="rowgroup" class="nhsuk-table__head" style="border: none">
                                      <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                            Certificate number
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Name
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Certificate type
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Date application made
                                          </th>
                                          <th role="columnheader" class="" scope="col">
                                        Status </th>
                                        <th role="columnheader" class="" scope="col">
                                          Action
                                        </th>
                                      </tr>
                                    </thead>
                                    
                                    <tr role="row" class="nhsuk-table__row">
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading"> </span>10000 100 101
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading"> </span>Emma Dobbs
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading"> </span> Digital
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading"> </span>  
                                       
                                          <p><a href="#" title="External website"> View Application </a></p>
                                      </td>
                                    </tr>

                                    
                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 11544 383 453
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Isla Smith
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>9 October 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>18749 130 131
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Kasumi Shizuka
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 44145 377 527
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Katie Moscrop
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 15 September 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>
                                      

                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 34923 895 859
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Kelly Smith
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>28 September 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>17575 919 304
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Lisa McCormick
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 19 June 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>19118 084 270
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Maira Richards
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>27 July 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>64415 965 217
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Masie Evans
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>21 September 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12657 137 192
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Preeti Kaur
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>14 October 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>40392 307 434
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Paige Fulton
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Digital
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>14 August 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--green">Issued</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>

                                    </tbody>

                                  </table>

                                </center>


                                
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <ul>        
                    <li>
                        <a href="/v10/record-keeping-dashboard">All applications</a>
                    </li>
                    <li>
                        <a href="/v10/submitted-applications">In progress</a>
                    </li>
                    <li>
                        <a href="/v10/submitted-applications">Submitted</a>
                    </li>
                    <li>
                        <a href="/v10/issued-applications" class="active">Issued</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end left navigation-->
    </div>
</div>


{% endblock %}
