<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



{% block header %}
  {{ dashboardHeader( serviceName ) }}
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Search for an application
        </h1>
        <span class="nhsuk-hint" >
          Enter a minimum of two fields to search
        </span>
      </legend>

   

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="NHSnumber">
          NHS number
        </label> 
        <span class="nhsuk-hint" >
          Enter the NHS number if you have it:
        </span>
        <input class="nhsuk-input nhsuk-input--width-20" id="NHSnumber" name="treatmentID" type="text"> <br>
        
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
         Date last met mother
        </label>

    
        <div class="nhsuk-hint" id="hint">
          For example, 18 9 2023
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <br>

      <span class="nhsuk-hint" >
        You can also search by completing the following fields:
      </span>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="firstName">
           
          First names (Given names/forenames)          
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="firstName" name="firstname" type="text">
      </div>

     

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="lastName">
          Last name          
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="lastName" name="lastname" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Mother's date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 18 9 1993
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Baby's due or date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 21 3 2024
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="certificate number">
          Certificate number
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="certificateNumber" name="certificateNumber" type="text"> <br>
      </div>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="certificate number">
          Certificate type
        </label>
        <div class="nhsuk-radios">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
              Digital
            </label>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
              Postal
            </label>
          </div>
       <br>
      </div>
      
      



      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Expiry date
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 22 3 2025
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div> 
      </div>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="emailAddress">
          Email address 
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress" type="text"> <br>
      </div>

      <h4 class="nhsuk-heading-s"> Current address </h4>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="addressLine1">
        
          Address line 1 
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine1" name="addressLine1" type="text"> <br>
      </div>
       
      <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Address line 2 (Optional)
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="addressLine2" name="addressLine2" type="text"> <br>
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Address line 3 (Optional)
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="addressLine3" name="addressLine3" type="text"> <br>
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="addressLine1">
      
        Postcode
      </label>
      <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text"> <br>
    </div>


    </fieldset>

    <a class="nhsuk-button" href="/v10/search-results" title="application search" class="nhsuk-u-margin-left-3">Search</a>

   
    
    
 
  </div>
  
</div>


{% endblock %}
