<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
    
          <!-- Change the page heading -->
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Mother's postal address
            </h1>
          </legend>

          

          <p>
            The address you give must match their home address given on their medical records.
          </p>
          
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-10">
              Mother's postcode
            </label>
            <div class="nhsuk-hint" id="contact-hint">
              For example, NE15 8NY
            </div>
            <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
          </div>
    
          <p><a href="/v7/post">Enter address manually</a></p>

          <form action="/v7/what-is-their-address">
            <button class="nhsuk-button" type="submit">
              Find address
            </button>
          </form>
      
          

      
    </div> 
      
    
  </div>

  
{% endblock %}
