<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



{% block header %}
  {{ dashboardHeader() }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <!--<div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>-->

      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h2 class="nhsuk-heading-l" id="completed">
              <span class="done-tick" id="done-tick">Application completed</span>
            </h2>
            <body class="nhsuk-heading-m" id="submitted">
              <span id="submitted-hcp">Mother's certificate number:</span>
            </body>
            <h2 class="nhsuk-heading-l">10000 100 101</h2>
            <span class="nhsuk-body" id="submitted-hcp-certificateExpiryDate">
              Exemption ends: </span>
              <h2 class="nhsuk-heading-l">24 February 2025</h2>
          </div>
          

              
          



            <h3 class="nhsuk-heading-m">
              What happens next?
            </h3>
            <p class="nhsuk-body">We'll email the certificate to the mother. They should receive the email within 24 hours.</p>
            <p class="nhsuk-body">Ask the mother to check their spam or junk email folder if they have not received their certificate details.</p>
            <p class="nhsuk-body">Check to make sure they have received the certificate at their next appointment.</p>
           <p class="nhsuk-body">If the mother has not received their certificate at all, they should contact us by email <a href = "mailto: healthcosts@nhsbsa.nhs.uk" target="_blank">healthcosts@nhsbsa.nhs.uk</a> or through using <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs" target="_blank">alternative contact methods</a> which they can find on our website.</p>
           <p class="nhsuk-body">They can start using their exemption straight away.</p>
          <div class="nhsuk-u-padding-bottom-"></div>

          <div class="nhsuk-u-padding-bottom-4"></div>
            
          <div class="button-container">
            
            <div class="button-container">
            
              <form action="/v9/mother-present">
                <button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
                  Start a new application
                </button>
              </form>
  
  
            <form action="/v9/record-keeping-dashboard">
              <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                Return to dashboard
              </button>
            </form>
          </div>

          
    </div>  
  </div>
{% endblock %}
