<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->



<!-- Set the service name in header -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



{% block header %}
  {{ dashboardHeader( serviceName ) }}
{% endblock %}


{% block content %}

</div>

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-title">
                                In progress applications
                            </h1>

                            <br><br><br><br>
                            <h3>Sentence or two describing what is meant by in progress applications to be placed here.</h3>
                            <!-- <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsbsa-sidebar-content-button" role="button">Start new application</a> -->
                        </div>
                    </div>

                    <div class="nhsuk-grid-row ">
                        <div class="nhsuk-grid-column-full">
                            <hr class=""style="border-color: #005eb8; border-width: 4px"> 
                             <!-- Table start -->
                            <center> 
                                <table role="table" class="nhsuk-table-responsive">
                                   
                                    <thead role="rowgroup" class="nhsuk-table__head" style="border: none">
                                      <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                            Certificate number
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Name
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                          Certificate type
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Date application made
                                          </th>
                                          <th role="columnheader" class="" scope="col">
                                        Status </th>
                                        <th role="columnheader" class="" scope="col">
                                          Action
                                        </th>
                                      </tr>
                                    </thead>

                                    <tbody class="nhsuk-table__body">
                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 13824 100 134
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Gurpreet Kaur
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 90211 257 363
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Jane Smith
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 7 September 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>61997 302 788
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Kalina Katarzyna
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 11102 399 866
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Maryla Patrycja
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>12 May 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>
                                      

                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 00898 400 119
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Miu Saori
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>28 August 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>85659 167 522
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Naliaka Chika
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> 19 June 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>13824 100 134
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Natalie Hall
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>25 June 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>11544 383 453
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Priya Kaur
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>25 June 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>85509 503 741
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Sophie Redpath
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span> Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>15 September 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>


                                      <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>32369 228 234
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Taisia Julia
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>Postal
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>14 August 2023
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <strong class="nhsuk-tag nhsuk-tag--red">In progress</strong> 
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading"> </span>  
                                         
                                            <p><a href="#" title="External website"> View Application </a></p>
                                        </td>
                                      </tr>

                                    </tbody>

                                  </table>

                                </center> <!-- end of table & also how can I centre it? -->


                                
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <ul>        
                    <li>
                        <a href="/v9/record-keeping-dashboard">All applications</a>
                    </li>
                    <li>
                        <a href="/v9/in-progress-applications" class="active">In progress</a>
                    </li>
                    <li>
                        <a href="/v9/submitted-applications">Submitted</a>
                    </li>
                    <li>
                        <a href="/v9/issued-applications">Issued</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end left navigation-->
    </div>
</div>

{% endblock %}
