<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>
      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h2 class="nhsuk-heading-l" id="completed">
              <span class="done-tick" id="done-tick">Application completed</span>
            </h2>
            <body class="nhsuk-heading-m" id="submitted">
              <span id="submitted-hcp">Mother's certificate number:</span>
            </body>
            <h2 class="nhsuk-heading-l">12345678</h2>
            <span class="nhsuk-body" id="submitted-hcp-certificateExpiryDate">
              Exemption ends: </span>
              <h2 class="nhsuk-heading-l">20 May 2023</h2>
          </div>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Need more information about the digital MATEX service?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>You can find more information about MATEX by <a href="https://faq.nhsbsa.nhs.uk/knowledgebase/category/?articlecategory=Maternity%20Exemption%20certificate&id=CAT-01281&parentid=" target="_blank">clicking here.</a></p>
          
            </div>
          </details>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Haven't received the certificate yet?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If applied through paper, note that the NHS BSA takes 7-10 working days to deliver your MATEX certificate.</p>
              <p>If applied online, we request you to check your Junk/Spam folder in your mailbox. If you still haven't received it yet, contact us.</p>
              <p>Online: <a href="https://faq.nhsbsa.nhs.uk/contact-us/" target="_blank">using our paper form</a></p>
              <p>Telephone: 0300 330 341</p>
              <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
              <p>Find more about the <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">call charges here.</a></p>
          
            </div>
          </details>

            <h3 class="nhsuk-heading-m">
              What happens next?
            </h3>
            <p class="nhsuk-body">We'll email the certificate to the mother. They can start using their exemption straight away.</p>
            <p class="nhsuk-body">Check to make sure they have received the certificate at their next appointment.</p>
            <div>
              <h4 class="nhsuk-heading-s">
                Ongoing feedback from mothers
              </h4>
              <p class="nhsuk-body">If the mother is happy to take part in further research, <a
                  href="#">send us a contact number (link opens in a new window)</a>.</p>
            </div>
          </div>
          <form action="/v3/start-page-signed-in" method="POST" class="form">
            <div class="nhsuk-form-group">
              <input class="nhsuk-button" id="next-button" type="submit" value="Start a new application" />
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}