{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->nhsuk
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <div class="content">
        <div class="indextext">
          <div class="done-panel">
            <h1 class="nhsuk-heading-l" id="completed">
              <span class="done-tick" id="done-tick">Registration successful</span>
            </h1>
            <h4 class="nhsuk-heading-m" id="submitted">
              <span id="submitted-hcp">You have successfully completed your registration</span>
            </h4>
          </div>
          <div>

            <p>We've sent an email to <strong style="font-weight: bold;">annie.apple.midwife@nhs.net.</strong></p>
            <p>You should receive the email within 24 hours. Check your spam or junk email folder if you have not received the email.</p>
            <p>You can start applying for maternity exemption certificates now.</p>

          </div>


          <a class="nhsuk-button" type="submit" href="/v3/start-page-signed-out">
            Apply Now
           </a>


        </div>
      </div>
    </div>  
  </div>
{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}