{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ statusBar( 'loggedOut' ) }}
  {{ phaseBanner() }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>


  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Register for the Digital Maternity Exemption Service</h1>
      </div>



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here 
      <h1>
        Register to issue maternity exemption certificates 
      </h1>-->

      <p>
        Use this service to register to issue digital maternity exemption certificates. 
      </p>


      <p>You must be a midwife, practice nurse or health visitor registered with the Nursing and Midwifery Council (NMC) to create an account.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Need more information about the digital MATEX service?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can find more information about MATEX by <a href="https://faq.nhsbsa.nhs.uk/knowledgebase/category/?articlecategory=Maternity%20Exemption%20certificate&id=CAT-01281&parentid=" target="_blank">clicking here.</a></p>
      
        </div>
      </details>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I'm a GP and would like to register
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you are a GP registered with the General Medical Council (GMC) you can still register to use this service.</p>
          <p>To register, email <a href="mailto:nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a> and include your </p>
            <ul>
              <li>name</li>
              <li>GMC reference number</li>
              <li>an email address with a secure service - such as NHSmail</li>
            </ul>
          </p>
          <p>Once we've received this information, we'll email you to confirm you are registered. You will then be able to use the online service.</p>
      
        </div>
      </details>

      

      <h2>What you'll need</h2>

      <p>
        To help us verify your professional identity you’ll need: 
        <ul>
          <li>your NMC PIN</li>
          <li>an email address with a secure service - such as NHSmail</li>
        </ul>
      </p>
     <p>Ask your IT department if your organisation’s email meets the <a  href="https://digital.nhs.uk/services/nhsmail/the-secure-email-standard">secure email standard</a></p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p><a href="/v3/start-page-signed-out" title="New window">Sign in if you already have an account</a></p>
      </div>

      <a class="nhsuk-button" type="submit" href="/v3/register-email-address">
        Start now </a>


    </div>
  </main>
</div>


    </div>  

  </div>









      <!-- Deleted dummy data -->


{% endblock %}
