<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column">

    <h1>Maternity Exemption prototype</h1>

    <h2>Goal</h2>
    <p>This prototype will contain multiple iterations of solutions to provide a simple to use digital maternity
      exemption application.
    <p>Since April 2022, the UCD team have revisted the service to improve the user journey so that it better aligns
      with GDS standards
      and to improve uptake of the digital service.</p>

    <hr>


    <!-- CURRENT PROTOTYPES -->

    <h2>Ongoing prototypes</h2>

    <!-- <ul>
      <li><strong>MVP (June 2023 - Present)</strong> <br>The MVP journey, currently being looked at
        by the UCD team. This includes quick-wins, such as a postcode
        lookup</li>
      <li><strong>MVP with Record Keeping Dashboard (September 2023 - Present)</strong> <br>The MVP journey and the
        experimental design
        of a record-keeping feature </li>
    </ul> -->


    <!-- MVP Prototype -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          MVP (June 2023 - Present)
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <a class="nhsuk-button" type="submit" href="/v7/start-page-signed-out" style="margin-top: 15px;">
          Begin latest Apply journey (Iteration 7)
        </a>

        <p>This version will include the minimum viable product (MVP). </p>
        <ul>
          <li>content will be updated</li>
          <li>quick wins, such as a postcode lookup, will be added</li>
        </ul>

        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Iteration
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                MATEX Apply
              </th>
              <th role="columnheader" class="" scope="col">
                MATEX Register
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 1
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> First draft
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v1/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v1/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 2
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Content designer reviewed
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v2/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v2/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 3
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Content designer reviewed
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v3/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v3/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 4
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Content designer reviewed
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v4/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v4/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 5
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Combined user journeys
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v5/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v5/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 6
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Combined user journeys - After Review
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v6/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v6/register"> MATEX Register </a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>MVP Journey - Iteration 7
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span> Revised content for usability testing
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v7/start-page-signed-out"> MATEX Apply
                </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span><a href="/v7/register/start"> MATEX Register </a>
              </td>

          </tbody>
        </table>

        <br><br>

        <h3>Error Pages - MATEX Apply</h3>

        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Page Link
              </th>
            </tr>
          </thead>


          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Date you last met with the mother error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-mother-present">Mother present</a></td>
          </tr>


          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">First name error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-first-name-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Last name error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-last-name-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">DOB error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-mother's-dob-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS number error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-mother's-nhs-no-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-mother's-postcode-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Due date or Baby's birth date error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-due-date-application-details">Application
                details</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email or Post</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-certificate-email-or-post">Email or Post</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Error</td>
            <td class="nhsuk-table__cell "><a href="../errors/error-post">Post</a></td>
          </tr>
          </tbody>
        </table>


        <h3>Error Pages - MATEX Register</h3>
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Page Link
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Email address error</td>
              <td class="nhsuk-table__cell "><a href="../errors/error-register-email-address">Email address</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Last name error</td>
              <td class="nhsuk-table__cell "><a href="../errors/error-register-your-details-last-name">Your details</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">NMC PIN error</td>
              <td class="nhsuk-table__cell "><a href="../errors/error-register-your-details-NMC-PIN">Your details</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">DOB error</td>
              <td class="nhsuk-table__cell "><a href="../errors/error-register-your-details-DOB">Your details</a></td>
            </tr>
          </tbody>
        </table>


        <h3>Experimental pages</h3>
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Page Link
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Check answers</td>
              <td class="nhsuk-table__cell "><a href="/experimental-check-answers-email">MATEX Apply - Check answers</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Declaration</td>
              <td class="nhsuk-table__cell "><a href="/experimental-declaration-email">MATEX Apply - Declaration</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Check answers</td>
              <td class="nhsuk-table__cell "><a href="/experimental-register-check-answers">MATEX Register - Check
                  answers</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Declaration</td>
              <td class="nhsuk-table__cell "><a href="/experimental-register-check-answers">MATEX Register -
                  Declaration</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>


    <!-- MVP WITH RECORD KEEPING DASHBOARD Prototype -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          MVP with Experimental Record Keeping Dashboard (September 2023 - Present)
        </span>
      </summary>

      <div class="nhsuk-details__text">
        <a class="nhsuk-button" type="submit" href="/v8/start-page-signed-out" style="margin-top: 15px;">
          Begin latest Apply journey (Iteration 4)
        </a>

        <p> This prototype contains the latest MVP version (MATEX Apply and MATEX Register), with the addition of
          the experimental record keeping dashboard feature.</p>
        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Iteration
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                MATEX Apply
              </th>
              <th role="columnheader" class="" scope="col">
                MATEX Register
              </th>
            </tr>
          </thead>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span> Iteration 1
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span> Record-keeping dashboard feature with MATEX MVP
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v8/start-page-signed-out"> MATEX Apply
                within the record-keeping dashboard </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v8/register/start"> MATEX Register </a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span>Iteration 2
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span> Improved record-keeping dashboard with MATEX Apply
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v9/start-page-signed-out"> MATEX Apply
                within the record-keeping dashboard </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v9/register/start"> MATEX Register </a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span>Iteration 3
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span> Dashboard without multiple status tags
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v10/start-page-signed-out"> MATEX Apply
                within the record-keeping dashboard </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v10/register/start"> MATEX Register </a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span>Iteration 4
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span> Removed pages and revised journey after UCD
              discussions
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v11/start-page-signed-out"> MATEX Apply
                within the record-keeping dashboard </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"></span><a href="/v11/register/start"> MATEX Register </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </details>


    <!-- MATEX Full Page List -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          MATEX Full Page List
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>These are all MATEX Apply, Register, and Dashboard pages, V11 as of
          November 2023 </p>


        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">MATEX Register </caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Prototype link
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Start-page </td>
              <td class="nhsuk-table__cell "> <a href="v11/start-page-signed-out"> Start page signed out</a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Register - Start </td>
              <td class="nhsuk-table__cell "> <a href="v11/register/start"> Register - Start </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Register - Email address </td>
              <td class="nhsuk-table__cell "> <a href="v11/register/email-address"> Register - Email address </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> HCP's details </td>
              <td class="nhsuk-table__cell "> <a href="v11/register/your-details"> HCP's details </a></td>
            </tr>
          </tbody>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Check answers </td>
              <td class="nhsuk-table__cell "> <a href="/v11/register/check-answers"> Check answers </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Registration confirmation </td>
              <td class="nhsuk-table__cell "> <a href="v11/register/confirmation"> Registration confirmation </a></td>
            </tr>
          </tbody>


        </table>


        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"> MATEX Apply with Dashboard </caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Prototype link
              </th>
            </tr>
          </thead>


          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Start-page </td>
              <td class="nhsuk-table__cell "> <a href="v11/start-page-signed-out"> Start page signed out</a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Microsoft log-in </td>
              <td class="nhsuk-table__cell "> <a href="v11/microsoft-login"> Microsoft log-in </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> NHS log-in </td>
              <td class="nhsuk-table__cell "> <a href="v11/microsoft-login"> NHS log-in</a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Record keeping dashboard</td>
              <td class="nhsuk-table__cell "> <a href="v11/record-keeping-dashboard"> Record keeping dashboard </a></td>
            </tr>
          </tbody>


          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Application details </td>
              <td class="nhsuk-table__cell "> <a href="v11/application-details"> Application details </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Certificate to be received by email or post </td>
              <td class="nhsuk-table__cell "> <a href="v11/certificate-email-or-post"> Email or post </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Re-enter email </td>
              <td class="nhsuk-table__cell "> <a href="v11/email"> Re-enter email </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Check your answers email </td>
              <td class="nhsuk-table__cell "> <a href="v11/check-answers-email"> Check your answers email </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Mother's postal address via postcode look up </td>
              <td class="nhsuk-table__cell "> <a href="v11/postcode"> Mother's postal address - postcode look up </a>
              </td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Postcode look-up, find their address </td>
              <td class="nhsuk-table__cell "> <a href="v11/what-is-their-address?"> What is their address? </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Mother's postal address done manually </td>
              <td class="nhsuk-table__cell "> <a href="v11/post"> Mother's postal address - manual </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Check your answers postal application </td>
              <td class="nhsuk-table__cell "> <a href="v11/check-answers-post?"> Check your answers postal </a></td>
            </tr>
          </tbody>


        </table>

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"> Search for an application pages </caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Prototype link
              </th>
            </tr>
          </thead>


          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Enter some applicant details to search for their application </td>
              <td class="nhsuk-table__cell "> <a href="v11/search-for-application"> Search for an application
                </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> Search results </td>
              <td class="nhsuk-table__cell "> <a href="v11/search-results"> Search results
                </a></td>
            </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"> View application details </td>
              <td class="nhsuk-table__cell "> <a href="v11/view-application"> Application details
            </tr>
          </tbody>


        </table>

      </div>
    </details>

    <!-- <hr style="margin: 50px 0 50px 0"> -->


    <!-- OLD PROTOTYPES -->

    <h2 style="margin-top: 40px;">Old prototypes</h2>

    <!-- <ul>
      <li><strong>Pregnancy loss experimental content (June 2023)</strong> <br>The MVP journey plus pregnancy loss
        content, also currently
        being looked at by the UCD team</li>
      <li><strong>Toolkit flip: as-is prototype in the new toolkit (April 2022)</strong> <br>The 'as is' journey,
        completed in April
        2022. This includes the update made to the maternity exemption sevice in to the new NHSUK toolkit</li>
    </ul> -->


    <!-- PREGNANCY LOSS EXPERIMENTAL CONTENT Prototype -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Pregnancy loss experimental content (June 2023)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>This version will include the minimum viable product (MVP), plus pregnancy loss content. </p>
        <ul>
          <li>content will be updated</li>
          <li>quick wins, such as a postcode lookup, will be added</li>
          <li>pregnancy loss information will be included on the start page and where necessary throughout the rest of
            the journey</li>
        </ul>


        <a class="nhsuk-button" type="submit" href="pregnancy-loss/sign-in">
          Begin journey
        </a>
      </div>
    </details>


    <!-- TOOLKIT FLIP Prototype -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Toolkit Flip: as-is prototype in the new toolkit (April 2022)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>This version includes the update made to the prototype to be in line with the new NHSUK toolkit</p>
        <ul>
          <li>the apply route was updated</li>
          <li>the register route was updated</li>
        </ul>

        <a class="nhsuk-button" type="submit" href="/old-version/start-page-signed-out">
          Begin journey
        </a>
      </div>
    </details>

  </div>
</div>
{% endblock %}