<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
 <!-- <div class="nhsuk-breadcrumb">
    <div class="nhsuk-width-container nhsuk-text-right">
      <span class="nhsuk-u-margin-right-3">Matex Test</span>
      |
      <a class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3" id="signout__link" href="/start-page-signed-out">Sign out</a>
      |
      <a class="nhsuk-u-margin-left-3" href="/help-page">Help</a>
    </div>
  </div>-->
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1>Apply for maternity exemption certificates</h1>
    </div>
   

  




<div class="nhsuk-width-container">
<main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-grid-row nhsuk-u-margin-right-6">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-top-0 nhsuk-u-margin-right-6">

    <!-- Change the page title here 
    <h1>
      Register to issue maternity exemption certificates 
    </h1>-->

   
      <p>If you are a midwife, GP or healthcare professional, use this online service to apply for maternity exemption certificates on behalf of expectant or new mothers.</p>
      <p>A maternity exemption certificate entitles the mother to free prescriptions: 
        <ul>
         <li>while pregnant</li>
         <li>for 12 months after the birth of the child</li>
        </ul>
       </p>


       <h2 class="nhsuk-heading-l">Before you apply</h2>


       <p>You'll need the mother's:
        <ul><li>date of birth</li>
         <li>NHS number</li>
         <li>due or birth date of their child</li>
         <li>email or postal address </li>
        </ul>
       </p>

       

       <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
          <p><a href="/register/register" title="External website">You'll need to register to use this service
             </a>
          </p>
     </div>
     <a class="nhsuk-button" type="submit" href="/microsoft-login">Sign In</a>
     
     <div class="nhsuk-u-padding-bottom-2"></div>

     
</div>


  <h2 class="col-heading heading-medium">Related links</h2>
  <p><a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption" target="_blank">Check if the mother already has a valid exemption certificate</a></p>
  <p><a href="https://faq.nhsbsa.nhs.uk/knowledgebase/category/?articlecategory=Maternity%20Exemption%20certificate&id=CAT-01281&parentid=" target="_blank"> More information about the maternity exemption service</a></p>
  </div>


</main>


  






{% endblock %}
