{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">Declaration</h1>
          
            <p>I confirm I understand that:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li class="declaration-list">I need to contact the NHS Business Services Authority (NHSBSA) if the security of my email address is compromised
              <li class="declaration-list">the information submitted will be checked in the NHS Electronic Staff Record (ESR)</li>
              <li class="declaration-list">my NMC PIN will be stored by the NHS Business Services Authority (NHSBSA)</li>
            </ul>
            </p>
          </div>
        <br>

        <a class="nhsuk-button" type="submit" href="/v10/register/what-happens-next">
          Agree and submit
         </a>

         


      
    </div>  
  </div>

{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}

