{% set serviceName = registerServiceName %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">What happens next</h1>
          
            <p>To complete your registration, you need to:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Sign in to your email account
              <li>Review your permissions when asked</li>
            </ul>
          </div>
        
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why do you need permission?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>We use Microsoft to link your email address to our services. We need your permission to do this.</p>
              <p>You can choose to accept or cancel. If you select <b>Cancel</b> when asked to Review permissions we will not be able to complete your registration.</p>
          
            </div>
          </details>

          <br>

        <a class="nhsuk-button" type="submit" href="/v10/register/confirmation">
          Sign in
         </a>

         


      
    </div>  
  </div>

{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}

