<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->

{% block beforeContent %}
  {{ statusBar( 'register' ) }}
  {{ phaseBanner() }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <a class="nhsuk-back-link" href="javascript:history.go(-1)">Go back</a>
      <br>

      <!-- Change the page title here -->
      
<h1>I do not have an email address with a secure service</h1>
      
<p>If you are a midwife, practice nurse, health visitor or GP without a secure email account, we suggest speaking to your organisation about this.</p>

<p>You can continue to issue maternity exemption certificates by completing the FW8 paper application form.</p>

<p>Read more information about <a href="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-03847/en-us">using the FW8 form</a>.</p>



      <!-- Deleted dummy data -->

    </div>  

  </div>
{% endblock %}

{% block footer %}
  {{ footerWithExtras( 'register' ) }}
{% endblock %}
