<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Apply for a maternity exemption</h1>
      </div>



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here 
      <h1>
        Register to issue maternity exemption certificates 
      </h1>-->

     
        <p>If you are a healthcare professional, you can complete an online application to issue maternity exemption certificates on behalf of expectant or new mothers.</p>
        <p>A maternity exemption certificate entitles the mother to free NHS prescriptions and some free dental treatment.</p>
        
        
        <p><h3>Who is eligible?</h3>
          <p>The mother is eligible for a maternity exemption certificate:</p>
          <ul>
           <li>if they are currently pregnant</li>
           <li>for 12 months after the birth of a live child</li>
           <li>if they have had a miscarriage</li>
           <li>for 12 months after the birth of a child registered as stillborn</li>
          </ul>
         </p>


         <h3>What if the mother has had a miscarriage or stillbirth?</h3>
         <p>The mother can continue to use their certificate for free NHS prescriptions.</p>
         <p>The mother is still entitled to free NHS dental treatment if this happened during, or after, their 24th week of pregnancy.</p>

         
         <p><h3>You'll need the mother's:</h3>
          <ul>
           <li>date of birth</li>
           <li>NHS number</li>
           <li>due or birth date of their child</li>
           <li>email or postal address </li>
          </ul>
         </p>
         <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="register" title="External website">If you haven't already, you'll need to register to use this service
               </a>
            </p>
       </div>
       <a class="nhsuk-button" type="submit" href="microsoft-login">Sign in</a>



      </div>


      <div class="nhsuk-grid-column-one-third">
        <h2 class="col-heading heading-medium">Related links</h2>
          <ul class="list list-bullet">
            <li><a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption">Check if the mother already has a valid exemption certificate</a></li>
            <li><a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">Check if the mother is eligible for more help with their health costs</a></li>
         </ul>
      </div>

    </div>
  </main>
</div>


    </div>  

  </div>









      <!-- Deleted dummy data -->


{% endblock %}
